body {
  background-color: white;
}

/* menubar start */

.listmenubar {
  background-color: rgb(62, 126, 191);
  text-align: center;
  z-index: 500:
}

.listmenubar ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  z-index: 55;
}

.listmenubar li {
  float: left;
}

.listmenubar li a {
  display: block;
  color: #FFF;
  padding: 14px 16px;
  text-decoration: none;
}

.menubar {
  position: relative;
}

a.menubar:hover {
  background: rgb(62, 85, 255);
  background-position: center;
  color: ;
}


/* menubar end */

h1 {
  margin: auto;
  border: 2px solid black;
  text-align: center;
  position: relative;
  z-index: 5;
  width: 100%;
  top: 100px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 100px;
  background-color: rgba(219, 228, 230, 0.8);
  padding-right:
} 

.sweets {
  margin: auto;
  position: relative;
  bottom: 100px;
  width: 100%;
  height: 50%;

}


